<div class="container mt-5">
  <h1 class="display-4 mb-4"><%= link_to 'GitHub User Information'%></h1>
  <%= form_tag('/github', method: 'get', class: 'mb-4') do %>
    <div class="input-group">
    <%= label_tag(:github_login, 'GitHub Login', class: 'input-group-text') %>
    <%= text_field_tag(:github_login, nil, required: true, placeholder: 'Enter GitHub login', class: 'form-control') %>
    <button type="submit" class="btn btn-primary">
      Find Information
    </button>
  </div>
  <% end %>
  <% if !@error && !@message%>
    <div class="mt-5">
      <% if @avatar_url.present? %>
        <%= image_tag @avatar_url, alt: 'User Avatar', class: 'avatar rounded-circle mb-3' %>
      <% end %>
      <h2 class="fw-bold"><%= link_to @github_name, @githun_url, target: '_blank' %></h2>
      <ul class="list-group mt-3">
        <li class="list-group-item list-group-item-primary fw-bold">Number of repositories: <%=@repos_count%></li>
        <% @repos.each do |repo| %>
          <li class="list-group-item list-group-item-action">
            <%= link_to repo[:name], repo[:url], target: '_blank' %>
          </li>
        <% end %>
      </ul>
    </div>
  <% else %>
    <h2 class="mt-5"><%=@error || @message%></h2
<% end %>
</div>
